@import "tailwindcss";

button,
.button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    cursor: pointer;
    transition: border-color 0.2s;
}



button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


.specialBtn {
    border-color: #646cff;
}

.specialBtnDark {
    background: #646cff;
    color: white;
}

.specialBtn:hover {
    border-color: blue;
}
